<p>
  Tela inicial do Prototipo
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <h4 class="card-header">Produtos</h4>
      <div class="card-body">
        <h4 class="card-title">Lista de Produtos</h4>
        <p class="card-text">Exibir produtos cadastrados na base de dados</p>
        <button type="button" class="btn btn-primary" (click)="buscarProdutos()"><i class="material-icons">search</i>Buscar Produtos</button>
        <br/>
        <div class="row" style="padding-top: 15px;">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>UN</th>
                  <th>Preço</th>
                  <th>Fabricante</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let produto of produtos">
                  <th scope="row">{{produto.ProdutoID}}</th>
                  <td>{{produto.Nome}}</td>
                  <td>{{produto.UN}}</td>
                  <td>{{produto.Preco | currency:'BRL':true:'.2'}}</td>
                  <td>{{produto.Fabricante.Nome}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <h4 class="card-header">Clientes</h4>
      <div class="card-body">
        <h4 class="card-title">Lista de Clientes</h4>
        <p class="card-text">Exibir clientes cadastrados na base de dados</p>
        <button type="button" class="btn btn-primary" (click)="buscarClientes()"><i class="material-icons">search</i>Buscar Clientes</button>
        <br/>
        <div class="row" style="padding-top: 15px;">

              <table class="table">
                  <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cliente of clientes">
                      <th scope="row">{{cliente.ClienteID}}</th>
                      <td>{{cliente.Nome}}</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
    </div>
  </div>
</div>
